<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/app/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/Add-Another-Button.css">
    <link rel="stylesheet" href="assets/css/Features-Minimal-icons.css">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>workdayapp</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="dashboard"><i class="fas fa-tachometer-alt"></i><span>Home</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="profile"><i class="fas fa-user"></i><span>Profil</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="projects"><i class="fas fa-table"></i><span>Projekty</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Szukaj ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span id="licznikalertow" class="badge bg-danger badge-counter">0</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6  class="dropdown-header">centrum alertów</h6>
                                        <div id="alertcenter">
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                            </a>
                                        </div>
                                        <a class="dropdown-item text-center small text-gray-500" href="#">Wszystkie alerty</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow">
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span id="username" class="d-none d-lg-inline me-2 text-gray-600 small">name</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar5.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profil</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Ustawienia</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Aktywność</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;wróć do logowania</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 id="tytul" class="text-center text-dark mb-1">tytuł projektu</h3>
                </div>
                <div class="container py-4 py-xl-5"><button class="btn btn-outline-primary text-truncate float-none float-sm-none add-another-btn" onclick="addWorkday()" data-bss-hover-animate="pulse" type="button" style="margin-bottom: 46px;">dodaj nowy dzień pracy<i class="fas fa-plus-circle edit-icon"></i></button>
                    <div id ="dni" class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">

                        </div>
                    </div>
                </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Workdayapp 2023</span></div>
                </div>
            </footer>
            </div>
        </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>
<script type="text/javascript">
    $.get("/user", function(data) {
        $("#username").html(data.name);
    });
</script>
<script>
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var hash = urlParams.get('proj')
    $.get("/user/projects", function(data) {
        for(let i=0;i<data.length;i++){
            if(data[i].hash==hash){
                $('#tytul').html(data[i].nazwa)
            }
        }
    });

</script>
<script type="text/javascript">
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var hash = urlParams.get('proj')
    $.get("/user/workdays?hash="+hash, function(data) {
        for(let i=0;i<data.length;i++){
            str = '';
        for(let j=0;j<data[i].timeEntry.length;j++) {
            str += `                                    <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 280px;max-width: 300px;margin-bottom: 20px;">
                                        <div class="card-body d-flex flex-column" style="height: 262px;">
                                            <div>
                                                <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">czas: `+data[i].timeEntry[j].time_spent+` minut</h4>
                                                <h6 class="text-muted mb-2" style="font-family: 'Source Sans Pro', sans-serif;font-weight: 600;color: #757575;">opis wpisu:</h6>
                                                <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;">`+data[i].timeEntry[j].description+`</p>
                                            </div>
                                            <div class="container"><button class="btn btn-outline-primary text-truncate link-primary float-none float-sm-none add-another-btn" data-bss-hover-animate="pulse" type="button" onclick="deleteEntry(`+data[i].TimeEntry[j].id+`)" style="margin-left: 11px;width: 83.4062px;height: 39.1875px;">usuń<i class="fas fa-ban edit-icon"></i></button>
                                                <div class="btn-group" role="group"></div><button class="btn btn-outline-primary text-truncate link-primary float-none float-sm-none add-another-btn" data-bss-hover-animate="pulse" type="button" style="margin-left: 11px;width: 94.4062px;height: 39.1875px;">zmień<i class="far fa-edit edit-icon"></i></button>
                                            </div>
                                        </div>
                                    </div>`
        }

            var myString = `<div class="col">
                            <div class="card">
                                <div class="card-body p-4">
                                    <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-calendar-check">
                                            <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
                                        </svg></div>
                                    <h4 class="card-title">`+data[i].date+`<button class="btn btn-outline-primary text-truncate float-none float-sm-none add-another-btn" data-bss-hover-animate="pulse" type="button" onclick="deleteWorkday(`+data[i].id+`)" style="margin-left: 11px;width: 83.4062px;height: 39.1875px;">usuń<i class="fas fa-ban edit-icon"></i></button><button data-bs-toggle="modal" data-bs-target="#addwpis`+(i+1)+`" class="btn btn-outline-primary text-truncate link-primary float-none float-sm-none add-another-btn" data-bss-hover-animate="pulse" type="button" style="margin-left: 11px;width: 94.4062px;height: 39.1875px;">wpis<i class="far fa-edit edit-icon"></i></button></h4>
                                    <p class="card-text"></p>
                                    `+str+`
                                </div>
                            </div>
                        </div>
 <div class="modal fade" id="addwpis`+(i+1)+`" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Dodaj wpis</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fab fa-rocketchat"></i>
                        <input type="text" id="opis`+(i+1)+`" class="form-control">
                        <label data-error="wrong" data-success="right" for="opis`+(i+1)+`">opis wpisu</label>
                    </div>
                                      <div class="md-form mb-5">
                        <i class="fab fa-rocketchat"></i>
                        <input type="number" id="minut`+(i+1)+`" class="form-control">
                        <label data-error="wrong" data-success="right" for="minut`+(i+1)+`">ilość minut</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-outline-primary text-truncate float-none float-sm-none add-another-btn" data-bss-hover-animate="pulse" type="button" onclick="dodaj_wpis(`+(data[i].id)+`,`+i+`)" style="margin-bottom: 41px;">Dodaj wpis<i class="fas fa-plus-circle edit-icon"></i></button>
                </div>
            </div>
        </div>
    </div>
`

            $('#dni').append(myString)
        }
    });
</script>


<script type="text/javascript">

    async function addWorkday(){
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();

        today = yyyy+"-"+mm+"-"+dd
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var hash = urlParams.get('proj')

        await fetch('https://localhost:8088/user/addworkday/'+hash, {
            method: 'POST',
            headers: {
                'accept': '*/*',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'date': today
            })
        });
        location.reload();
    }
</script>


<script type="text/javascript">

    async function dodaj_wpis(id,i){

        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var hash = urlParams.get('proj')
        await fetch('https://localhost:8088/user/addtimeentry/'+hash+'/'+id+'', {
            method: 'POST',
            headers: {
                'accept': '*/*',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'description': $('#opis'+(i+1)).val(),
                'time_spent': $('#minut'+(i+1)).val()
            })
        });
        location.reload();
    }
</script>

<script type="text/javascript">


    async function deleteWorkday(id){

        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var hash = urlParams.get('proj')
        await fetch('https://localhost:8088/workdays/'+id+'', {
            method: 'DELETE',
            headers: {
                'accept': '*/*'
            }
        });
        location.reload();
    }
</script>

<script type="text/javascript">

    async function deleteEntry(id){

        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var hash = urlParams.get('proj')
        await fetch('https://localhost:8088/timeentry/'+id+'', {
            method: 'DELETE',
            headers: {
                'accept': '*/*'
            }
        });
        location.reload();
    }
</script>

<script>
    $.get("/user/notifs", function(data) {

        for(let i=0;i<data.length;i++){
            var myString = `<a id="NOTIFI`+data[i].id+`" class="dropdown-item d-flex align-items-center" onclick="deletenoti(`+data[i].id+`)">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">`+data[i].date+`</span>
                                                <p>`+data[i].opis+`</p>
                                            </div>
                                        </a>`

            $('#alertcenter').append(myString)
            $('#licznikalertow').html(data.length);

        }


    });

</script>
<script type="text/javascript">

    async function deletenoti(id){

        await fetch('https://localhost:8088/notif/'+id+'', {
            method: 'DELETE',
            headers: {
                'accept': '*/*'
            }
        });
        $('#NOTIFI'+id+'').remove()
        $('#licznikalertow').html($('#licznikalertow').html()-1);
    }
</script>
</html>